:root{
    --color-background: #DCE0E0;
    --color-text-default: #0D0E0E;
    --color-blue: #3395FF;
    --color-red: #E4512E;
}

.material-symbols-outlined {
    margin: 10px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined:hover{
    color: var(--color-blue);
    cursor: pointer;
}

body{
    background-color: var(--color-background);
    top: 0px;
    left: 0px;
    display: flex;
    font-family: "Almarai", sans-serif;
}

#logo-group{
    color: var(--color-blue);
}

#logo-text{
    display: inline-block; 
    translate: 0 -15px
}

#logo{
    width: 100px;
    margin: 7px;
}

h1{
    display: inline;
    margin: 30px;
}

h1:hover{
    color: var(--color-blue);
    cursor: pointer;
}

#top-menu{
    font-size: 16px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#function{
    display: flex;
    position: absolute;
    margin: 25px;
    font-size: 100px;
    transform: scale(1.5);
    right: 40px;
}

@media only screen and (max-width: 1159px){
    #logo-text{
        display: none;
        visibility: hidden;
    }
    h1{
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 32.5px;
    }
    #function{
        right: 20px;
    }
}
@media only screen and (max-width: 799px){
    #search{
        display: none;
        visibility: hidden;
    }
    #cart{
        display: none;
        visibility: hidden;
    }
    #account{
        display: inline;
        visibility: visible;
    }
    #function{
        right: 0px;
    }
}
@media only screen and (max-width: 649px){
    h1{
        display: none;
        visibility: hidden;
    }
}